{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Страница Менеджера{% endblock%}


{% block body_title %} <p class="text-center" style="font-size: 33px;">Информация о пользователе - <b>{{ app.user.username }}</b></p>  {% endblock %}

{% block body_content %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <div class="container" style="margin-top: 30px; margin-bottom: 20px;">
        <p class="text-center"><b><span style="font-size:20px;">Login:</span></b> {{ app.user.username }}</p>
        <p class="text-center"><b><span style="font-size:20px;">Email:</span></b> {{ app.user.email }}</p>
        <p class="text-center"><b><span style="font-size:20px;">Password:</span></b> {{ app.user.password }}</p>
        <p class="text-center"><b><span style="font-size:20px;">Role:</span></b> <i>Менеджер</i></p>
    </div>

    <a href="{{ path('_security_logout') }}"><button class="btn btn-danger" style="margin-left: 48%;">Выход</button></a>
{% endblock %}