{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Страница Администратора{% endblock%}


{% block body_title %} <p class="text-center" style="font-size: 28px;">Администратор,<b> {{ app.user.username }}!</b></p> {% endblock %}

{% block body_content %}
    <hr>
    <hr>
    <hr>
    {{  render(controller("BloggerBlogBundle:Admin:getEditUserForm")) }}
    <hr>
    <hr>
    <hr>
    <a href="{{ path('_security_logout') }}"><button class="btn btn-danger" style="margin-left: 48%;">Выход</button></a>
{% endblock %}