<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
<p class="text-center" style="font-size: 33px;">Информация о пользователе - <b>{{ user.username }}</b></p>

{% if message %}
    <div class="error">{{ message }}</div>
    <hr>
{% else %}
    <div class="container" style="margin-top: 30px; margin-bottom: 20px;">
        <p class="text-center"><b><span style="font-size:20px;">Login:</span></b> {{ user.username }}</p>
        <p class="text-center"><b><span style="font-size:20px;">Email:</span></b> {{ user.email }}</p>
        <p class="text-center"><b><span style="font-size:20px;">Password:</span></b> {{ user.password }}</p>
        <p class="text-center"><b><span style="font-size:20px;">Role:</span></b> {{ role.title }}</p>
    </div>
{% endif %}
<a href="{{ path('admin_home') }}"><button class="btn btn-danger" style="margin-left: 48%;">Назад</button></a>



