{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block page_top %}
{% endblock %}

{% block body_content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_home') }}"><button class="btn btn-primary" style="margin-left: 46%;">Администратор</button></a>
        {% endif %}
        {% if is_granted('ROLE_MANEGER') %}
            <a href="{{ path('BloggerBlogBundle_manager_home') }}"><button class="btn btn-primary" style="margin-left: 46%;">Менеджер</button></a>
        {% endif %}
    {% else %}
         <a href="{{ path('_security_login') }}"><button class="btn btn-primary" style="margin-left: 48%;">Войти</button></a>

    {% endif %}

{% endblock %}