body, #wrapper {
  min-height: 100vh;
}

#wrapper {
  padding-bottom: 6.25em;
  margin-bottom: -6.25em;
}

.error {
  color: #D93225;
}

#top-nav {
  margin-bottom: 5px;
}
#top-nav #nav-user-title {
  margin: 0;
  padding: 1em;
  color: #8D9D9D;
}

#contact-form .form-field {
  margin: 1em 0;
}


#username{
  width: 220px;
  margin-left: 20%;
}

#useremail{
  width: 220px;
  margin-left: 20%;
}

#password{
  width:220px;
  margin-left: 20%;
}

#userrole{
  width: 220px;
  margin-left: 20%;
}

#divform{
  width:25%;
  border: 2px solid black;

}

#tab-1{
  width:25%;
  border: 2px solid black;
}

#user{
  width: 220px;
  margin-left: 90px;
}

#tab-2{
  width:25%;
  height: 200px;
  border: 2px solid black;
}

#tab-3{
  width:25%;
  height: 200px;
  border: 2px solid black;
}
#tabtab{
  display:flex;
}