{% if message %}
    <div class="error">{{ message }}</div>
    <hr>
{% endif %}

{#<div class="tabs">#}
    {#<ul class="nav nav-tabs">#}
        {#<li class="active"><a href="#tab-1" data-toggle="tab">Добавить</a></li>#}
        {#<li><a href="#tab-2" data-toggle="tab">Удалить</a></li>#}
        {#<li><a href="#tab-3" data-toggle="tab">Просмотр</a></li>#}
    {#</ul>#}
    <div class="tab-content" id="tabtab">
        {#<div class="tab-pane fade in active" id="tab-1">#}
        <div id="tab-1">
            <p class="text-center" style="font-size: 35px;">Добавить пользователя</p>

            <form action="{{ path('BloggerBlogBundle_admin_add_user') }}" method="POST">
                <div class="form-group">
                    <label for="username"  style="margin-left: 160px;">Логин:</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ param.last_username }}">
                </div>
                <div class="form-group">
                    <label for="useremail"  style="margin-left: 160px;">Email:</label>
                    <input type="email" class="form-control" id="useremail" name="_useremail" value="{{ param.last_useremail }}">
                </div>
                <div class="form-group">
                    <label for="password"  style="margin-left: 160px;">Пароль:</label>
                    <input type="text" class="form-control" id="password" name="_userpassword" value="{{ param.last_userpassword }}">
                </div>
                <div class="form-group">
                    <label for="userrole"  style="margin-left: 160px;">Права:</label>
                    <select class="form-control" id="userrole" name="_userrole">
                        {% for role in roles %}
                            <option value="{{ role.id }}" {% if param.last_userrole == role.id %}selected{% endif %}>{{ role.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-primary" name="login" value="Добавить"   style="margin-left: 35%;"/>
            </form>

        </div>
        <hr>
        <hr>
        <hr>

        {#<div class="tab-pane fade" id="tab-2">#}
            <div  id="tab-2">
            <p class="text-center" style="font-size:35px;">Удалить пользователя</p>
            <form action="{{ path('BloggerBlogBundle_admin_delete_user') }}" method="POST">
                <div class="form-group">
                    <label for="user"  style="margin-left: 150px;">Пользователи:</label>
                    <select class="form-control" id="user" name="_user">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}{% for role in user.getRoles %}: {{ role.getTitle }}{% endfor %}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-primary" name="login" value="Удалить"   style="margin-left: 40%;"/>
            </form>

        </div>
        <hr>
        <hr>
        <hr>

        {#<div class="tab-pane fade" id="tab-3"> #}
            <div id="tab-3">
            <p class="text-center" style="font-size: 30px">Информация пользователя</p>
            <form action="{{ path('BloggerBlogBundle_admin_view_user') }}" method="POST">
                <div class="form-group">
                    <label for="user"   style="margin-left: 150px;">Пользователи:</label>
                    <select class="form-control" id="user" name="_user">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}{% for role in user.getRoles %}: {{ role.getTitle }}{% endfor %}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-primary" name="login" value="Просмотреть"   style="margin-left: 35%;"/>
            </form>

        </div>
    </div>
{#</div>#}