{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}LogIn{% endblock%}


{% block body_title %}{% endblock %}

{% block body_content %}
    {% if error %}
        <div class="error">{{ error.message }}</div>
        <hr>
    {% endif %}

    <form class="container" id="divform" action="{{ path('_security_check') }}" method="POST">
        <p class="text-center" style="font-size:35px;">Авторизация</p>
        <div class="form-group">
            <label for="username" style="margin-left: 42%;">Логин:</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
        </div>
        <div class="form-group">
            <label for="password" style="margin-left: 42%;">Пароль:</label>
            <input type="password" class="form-control" id="password" name="_password">
        </div>
        <input type="submit" class="btn btn-primary" name="login" value="Войти" style="margin-left: 41%;"/>
    </form>

{% endblock %}